Repository Fallenbagel/jellyseerr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sct, @TheCatLady, @samwiseg0

.github/CODEOWNERS:

# Global code ownership
*       @sct

# Documentation
docs/  @TheCatLady @samwiseg0

# Snap-related files
.github/workflows/snap.yaml @samwiseg0
snap/  @samwiseg0

# i18n locale files
src/i18n/locale/ @sct @TheCatLady

Update README.md
  README.md
Owners: @sct

Logo update and syntax changes
  README.md
  config/.gitkeep
  config/db/.gitkeep
  config/logs/.gitkeep
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/images/overseerr_poster_not_found.png
  public/images/overseerr_poster_not_found_logo_center.png
  public/images/overseerr_poster_not_found_logo_top.png
  public/logo.png
  public/os_logo_square.png
  server/api/jellyfin.ts
  server/api/plexapi.ts
  server/index.ts
  server/lib/notifications/agents/slack.ts
  server/lib/settings.ts
  snap/snapcraft.yaml
  src/components/Layout/index.tsx
  src/components/PermissionEdit/index.tsx
  src/components/Settings/Notifications/NotificationsEmail.tsx
  src/components/Settings/SettingsAbout/Releases/index.tsx
  src/components/Settings/SettingsAbout/index.tsx
  src/components/Settings/SettingsJellyfin.tsx
  src/components/Settings/SettingsJobsCache/index.tsx
  src/components/Settings/SettingsLogs/index.tsx
  src/components/Settings/SettingsMain.tsx
  src/components/Settings/SettingsPlex.tsx
  src/components/Setup/LoginWithPlex.tsx
  src/components/Setup/SetupLogin.tsx
  src/components/StatusChacker/index.tsx
  src/context/SettingsContext.tsx
  src/i18n/locale/en.json
  src/pages/_app.tsx
Owners: @sct, @samwiseg0, @TheCatLady

Update Readme.MD
  README.md
Owners: @sct

Added Simplified Chinese
  src/components/Layout/LanguagePicker/index.tsx
  src/i18n/locale/zh_Hans.json
Owners: @sct, @TheCatLady

Update README.md
  README.md
Owners: @sct

Update README.md
  README.md
Owners: @sct

Update zh_Hans.json
  src/i18n/locale/zh_Hans.json
Owners: @sct, @TheCatLady

Update zh_Hans.json
  src/i18n/locale/zh_Hans.json
Owners: @sct, @TheCatLady

docs: added new logo
  public/logo_full.svg
Owners: @sct

Delete dependabot.yml
  .github/dependabot.yml
Owners: @sct

docs: added preview
  public/62E7D6B1.png
  public/724E0E03.png
  public/preview.jpg
  public/preview.jpg:Zone.Identifier
Owners: @sct

first commit
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/RequestList/index.tsx
  src/components/StatusChacker/index.tsx
Owners: @sct

fix: database migration fix
  server/migration/1616576677254-AddUserQuotaFields.ts
Owners: @sct

docs: added new logo
  public/logo_full.svg
Owners: @sct

feat: update zh_Hans.json
  src/i18n/locale/zh_Hans.json
Owners: @sct, @TheCatLady

docs: added preview
  public/62E7D6B1.png
  public/724E0E03.png
  public/preview.jpg
  public/preview.jpg:Zone.Identifier
Owners: @sct

ci: remove DEPENDABOT
  .github/dependabot.yml
Owners: @sct
